<section class="collapsable">
  <include
    src="./collapsable-header.html"
    title="Diseña"
    icon="far fa-object-ungroup"
  ></include>
  <div class="collapsable__box js-collapsable-close">
    <div class="collapsable__colors">
      <h3 class="collapsable__colors--title">Colores</h3>
    </div>
    <div class="collapsable__content design">
      <label class="display-block design__square-label">
        <input
          type="radio"
          name="palette"
          class="design__square-radio js-palette"
          value="1"
          checked
        />
        <ul class="palette-1">
          <li class="design__square-color color-1"></li>
          <li class="design__square-color color-2"></li>
          <li class="design__square-color color-3"></li>
        </ul>
      </label>

      <label class="display-block design__square-label">
        <input
          type="radio"
          name="palette"
          class="design__square-radio js-palette"
          value="2"
        />
        <ul class="palette-2">
          <li class="design__square-color color-1"></li>
          <li class="design__square-color color-2"></li>
          <li class="design__square-color color-3"></li>
        </ul>
      </label>

      <label class="display-block design__square-label">
        <input
          type="radio"
          name="palette"
          class="design__square-radio js-palette"
          value="3"
        />
        <ul class="palette-3">
          <li class="design__square-color color-1"></li>
          <li class="design__square-color color-2"></li>
          <li class="design__square-color color-3"></li>
        </ul>
      </label>
    </div>
    <div class="collapsable__typo">
      <h3 class="collapsable__typo--title">Tipografías</h3>
    </div>
    <div class="collapsable__content typo">
      <label class="display-block design__square-label">
        <input
          type="radio"
          name="typo"
          class="design__square-radio js-typo"
          value="1"
          checked
        />
        <ul class="padd_typo typography-1">
          <li class="style__typo typo-1">Tipografía 1</li>
        </ul>
      </label>

      <label class="display-block design__square-label">
        <input
          type="radio"
          name="typo"
          class="design__square-radio js-typo"
          value="2"
        />
        <ul class="padd_typo typography-2">
          <li class="style__typo typo-2">Tipografía 2</li>
        </ul>
      </label>

      <label class="display-block design__square-label">
        <input
          type="radio"
          name="typo"
          class="design__square-radio js-typo"
          value="3"
        />
        <ul class="padd_typo typography-3">
          <li class="style__typo typo-3">Tipografía 3</li>
        </ul>
      </label>
    </div>
  </div>
</section>
