<section class="collapsable">
  <div class="header-container">
    <div class="collapsable__header">
      <i class="collapsable__header--icon far fa-object-ungroup"></i>
      <h2 class="collapsable__header--title">Diseña</h2>
    </div>
    <div class="collapsable__header2">
      <i class="collapsable__header--arrow fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="collapsable__box">
    <div class="collapsable__colors">
      <h3 class="collapsable__colors--title">Colores</h3>
    </div>
    <div class="collapsable__content design">
      <label class="display-block design__square-label">
        <input type="radio" name="palette" class="design__square-radio" />
        <ul class="palette-1">
          <li class="design__square-color color-1"></li>
          <li class="design__square-color color-2"></li>
          <li class="design__square-color color-3"></li>
        </ul>
      </label>

      <label class="display-block design__square-label">
        <input type="radio" name="palette" class="design__square-radio" />
        <ul class="palette-2">
          <li class="design__square-color color-1"></li>
          <li class="design__square-color color-2"></li>
          <li class="design__square-color color-3"></li>
        </ul>
      </label>

      <label class="display-block design__square-label">
        <input type="radio" name="palette" class="design__square-radio" />
        <ul class="palette-3">
          <li class="design__square-color color-1"></li>
          <li class="design__square-color color-2"></li>
          <li class="design__square-color color-3"></li>
        </ul>
      </label>
    </div>
  </div>
</section>
