<section class="fillin-collapsable">
  <h2 class="collapsable__header">
    <span class="collapsable__icon"><i class="far fa-keyboard"></i></span>
    <span class="collapsable__title">Rellena</span>
    <span class="collapsable__arrow"><i class="fas fa-chevron-down"></i></span>
  </h2>
  <div class="fillin-content">
    <label for="name" class="fillin__label">Nombre completo</label>
    <input
      type="text"
      id="name"
      class="fillin__input"
      placeholder="Ej: Sally Jill"
    />

    <label for="job" class="fillin__label">Puesto</label>
    <input
      type="text"
      id="job"
      class="fillin__input"
      placeholder="Ej: Front-end unicorn"
    />

    <label for="photo" class="fillin__label">Imagen de perfil</label>
    <div class="fillin__photo">
      <button class="fillin__photo--button">Añadir imagen</button>
      <div class="fillin__photo--preview"></div>
    </div>

    <label for="email" class="fillin__label">Email</label>
    <input
      type="email"
      id="email"
      class="fillin__input"
      placeholder="Ej: sally-hill@gmail.com"
    />

    <label for="phone" class="fillin__label">Teléfono</label>
    <input
      type="text"
      id="phone"
      class="fillin__input"
      placeholder="Ej: 555-55-55-55"
    />

    <label for="linkedin" class="fillin__label">Linkedin</label>
    <input
      type="text"
      id="linkedin"
      class="fillin__input"
      placeholder="Ej: linkedin.com/in/sally.hill"
    />

    <label for="github" class="fillin__label">GitHub</label>
    <input
      type="text"
      id="github"
      class="fillin__input"
      placeholder="Ej: @sally-hill"
    />
  </div>
</section>
