<div class="preview">
  <div class="preview__reset">
    <a href="#"
       class="preview__reset--reset">Reset</a>
    <i class="far fa-trash-alt"></i>
  </div>
  <section>
    <article class="preview__container">
      <h2 class="preview__container--h2 js-name-preview js-card">Nombre Apellidos</h2>
      <p class="preview__container--h3 js-job-preview js-card">Front-end developer</p>
      <div class="preview__container--line js-card"></div>
      <img class="preview__container--photo"
           src="./assets/images/mujer.png"
           alt="" />
      <ul class="card__icons js-card">
        <li class="card__icons--item">
          <a href="#"
             target="_blank"
             class="fas fa-mobile-alt icons js-phone-preview">
          </a>
        </li>
        <li class="card__icons--item">
          <a href="#"
             target="_blank"
             class="far fa-envelope icons js-email-preview">
          </a>
        </li>
        <li class="card__icons--item">
          <a href="#"
             target="_blank"
             class="fab fa-linkedin-in icons js-linkedin-preview">
          </a>
        </li>
        <li class="card__icons--item">
          <a href="#"
             target="_blank"
             class="fab fa-github-alt icons js-github-preview">
          </a>
        </li>
      </ul>
    </article>
  </section>
</div>