<div class="preview">
  <div class="preview__reset">
    <button class="preview__reset--reset js-reset">
      <i class="far fa-trash-alt"></i>
      <a class="button__reset"
         href="">Reset</a>
    </button>

  </div>
  <section>
    <article class="preview__container js-card">
      <h2 class="preview__container--h2 js-card-name js-card">
        Nombre Apellidos
      </h2>
      <p class="preview__container--h3 js-card-job js-card">
        Front-end developer
      </p>
      <div class="preview__container--line"></div>
      <img class="preview__container--photo js__profile-image js-big-photo"
           src="./assets/images/icono-mujer.png"
           alt="" />
      <ul class="card__icons js-card">
        <li class="card__icons--item1">
          <a href="#"
             target="_blank"
             class="fas fa-mobile-alt icons js-card-phone card__icons--item2">
          </a>
        </li>
        <li class="card__icons--item1">
          <a href="#"
             target="_blank"
             class="far fa-envelope icons js-card-email card__icons--item2">
          </a>
        </li>
        <li class="card__icons--item1">
          <a href="#"
             target="_blank"
             class="fab fa-linkedin-in icons js-card-linkedin card__icons--item2">
          </a>
        </li>
        <li class="card__icons--item1">
          <a href="#"
             target="_blank"
             class="fab fa-github-alt icons js-card-github card__icons--item2">
          </a>
        </li>
      </ul>
    </article>
  </section>
</div>