<div class="preview">
<div class="preview__reset">
   <i class="far fa-trash-alt"></i>
    <p class="preview__reset--reset">Reset</p> 
    <img class="preview__reset--bin" src="" alt="">
</div>
<section>
<article class="preview__container">
    <h2 class="preview__container--h2">Nombre y apellidos</h2>
    <p class="preview__container--h3">Front-ed developer</p>
    <div class="preview__container--line"></div>
    <img class="preview__container--photo" src="./assets/images/mujer.png" alt="">
    <ul card__icons--list>
        <li class="card__icons--item">
          <a href="#" class="fas fa-mobile-alt">
          </a>
        </li>
        <li class="card__icons--item">
          <a href="#" class="far fa-envelope">
          </a>
          </li>
        <li class="card__icons--item">
          <a href="#" class="fab fa-linkedin-in">
          </a>
        </li>
        <li class="card__icons--item">
          <a href="#" class="fab fa-github-alt">
          </a>
        </li>
      </ul>
  </article>
</section>
</div>