<section class="collapsable">
  <include src="./collapsable-header.html" title="Comparte" icon="fas fa-share-alt"></include>
  <div class="share-container collapsable__box js-collapsable-close">
    <div class="collapsable__share">
      <i class="collapsable__share--icon far fa-address-card"></i>
      <a href="#">Crear tarjeta</a>
    </div>
  </div>
  <div class="share-preview-container"></div>
  <div class="share-card">
    <h2 class="share-card__title">La tarjeta ha sido creada:</h2>
    <a class="share-card__link"
       href="">https://awesome-profile-card.com?id=A456DF0001</a>
    <a class="share-card__button"> <i class="fab fa-twitter"></i> Compartir en twitter</a>
  </div>
</section>