<main class="main">
  <div class="main__content">
    <img
      class="main__content--logo"
      src="./assets/images/logo-awesome-profile-cards.svg"
      alt="logo awesome cards"
      title="logo awesome cards"
    />
    <h2 class="main__content--subtitle">Crea tu tarjeta de visita</h2>
    <p class="main__content--text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <div class="main__actions">
      <article>
        <i class="far fa-object-ungroup"></i>
        <p class="main__actions--textIcons">Diseña</p>
      </article>
      <article>
        <i class="far fa-keyboard"></i>
        <p class="main__actions--textIcons">Rellena</p>
      </article>
      <article>
        <i class="fas fa-share-alt"></i>
        <p class="main__actions--textIcons">Comparte</p>
      </article>
    </div>
  </div>
  <a class="main__content--button" href="./cards.html" title="start"
    >Comenzar
  </a>
</main>
