<section class="collapsable">
    <h2 class="collapsable__header">
        <span class="collapsable__icon--right"></span>
        <span class="collapsable__title">Diseña</span>
        <span class="collapsable__icon--left"></span>
    </h2>

    <div class="collapsable__content design">
        <label class="display-bloc design__square-label">
            <input type="radio" name="palette" class="design__square-radio">
            <ul class="palette-1">
                <li class="design__square-color color-1">C1</li>
                <li class="design__square-color color-2">C2</li>
                <li class="design__square-color color-3">C3</li>
            </ul>
        </label>

        <label class="display-bloc design__square-label">
            <input type="radio" name="palette" class="design__square-radio">
            <ul class="palette-2">
                <li class="design__square-color color-1">C1</li>
                <li class="design__square-color color-2">C2</li>
                <li class="design__square-color color-3">C3</li>
            </ul>
        </label>

        <label class="display-bloc design__square-label">
            <input type="radio" name="palette" class="design__square-radio">
            <ul class="palette-3">
                <li class="design__square-color color-1">C1</li>
                <li class="design__square-color color-2">C2</li>
                <li class="design__square-color color-3">C3</li>
            </ul>
        </label>
    </div>

    <div class="collapsable__colors">Colores</div> 

</section>