<div class="preview">
<div class="preview__reset">
    <p class="preview__reset--reset">Reset</p> 
    <img class="preview__reset--bin" src="" alt="">
</div>
<div class="preview__container">
    <h2 class="preview__container--h2">Nombre y apellidos</h2>
    <h3 class="preview__container--h3">Front-ed developer</h3>
    <div class="preview__container--line"></div>
    <img class="preview__container--photo" src="./assets/images/mujer.png" alt="">
    <div class="logos">
    <ul>
        <li class="logos__img">
          <a href="@@t" target="_blank" title="Go to phone number" ><i class="logos__phone"></i></a>
        </li>
        <li class="logos__img">
            <a href="@@mail" target="_blank" title="Send a mail" ><i class="fas fa-envelope colorlogo"></i></a>
          </li>
        <li class="logos__img">
          <a href="@@linkedin" target="_blank" title="Go to linkedin" ><i class="fab fa-linkedin-in colorlogo"></i></a>
        </li>
        <li class="logos__img">
          <a href="@@github" target="_blank" title="Go to github" ><i class="fab fa-github-alt colorlogo"></i></a>
        </li>
      </ul>
    </div>
</div>
</div>