<section class="collapsable">
  <div class="header-container">
    <div class="collapsable__header">
      <i class="collapsable__header--icon fas fa-share-alt"></i>
      <h2 class="collapsable__header--title">Comparte</h2>
    </div>
    <div class="collapsable__header2">
      <i class="collapsable__header--arrow fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="share-container">
    <div class="collapsable__share">
      <i class="collapsable__share--icon far fa-address-card"></i>
      <a>Crear tarjeta</a>
    </div>
  </div>
</section>
