<section class="collapsable">
    <div class="header-container">
        <div class="collapsable__header">
            <i class="collapsable__header--icon fas fa-share-alt"></i>
            <h2 class="collapsable__header--title">Comparte</h2>
        </div>
        <div class="collapsable__header2">
            <i class="collapsable__header--arrow fas fa-chevron-down"></i>
        </div>
    </div>

    <div class="collapsable__share">
        <i class="collapsable__share--icon far fa-id-card"></i>
        <a class="card__btn">Crear tarjeta</a>
    </div>
</section>
