// fonts
$fontMerriweather: ‘Merriweather’, serif;
$fontMonserrat: ‘Montserrat’, sans-serif;
$fontOpen: ‘Open Sans’, sans-serif;

// colors
$orange: #e17334;
$darkGlueGreen: #114e4e;
$white: #f5f5f5;
$metal: #54585a;
$mint: #a2deaf;
$dirtyBlue: #438792;
$colorFooter: #d8d8d8;
