.container__generator {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}
.form {
  @media all and (min-width: 768px) {
    order: -1;
  }
}
