.fillin-collapsable {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.fillin-content {
  font-family: $fontOpen;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.fillin__label {
  line-height: 20px;
  padding-bottom: 7px;
  color: $darkblueGreen;
}

.fillin__input {
  height: 30px;
  border: 1px solid #2b9696;
  margin-bottom: 20px;
  padding-left: 10px;
}

::placeholder {
  color: $grey;
  padding-left: 5px;
}

.fillin__photo {
  display: flex;
  flex-direction: row;
}

.fillin__photo--button {
  width: 140px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-style: none;
  border-radius: 3px;
  background-color: $orange;
  color: $colorWhite;
}
.fillin__photo--preview {
  width: 30px;
  height: 30px;
  border: 1px solid $mint;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden-field {
  display: none;
}
