.page__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
}

.footer {
  border-top: 1px solid $colorFooter;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 40px 20px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0 20px 0;
    align-content: center;
    max-width: 1500px;
  }

  &__copy {
    font-family: $fontOpen;
    width: 198px;
    height: 20px;
    opacity: 0.5;
    font-size: 14px;
    line-height: 1.43;
    color: $FooterFont;
    text-align: center;
  }

  &__logo {
    width: 103px;
    height: 40px;
    margin: 12px 47px 0 48px;
    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (min-width: 768px) {
  .footer__container {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 1024px) {
    .footer__container {
      margin-left: 80px;
    }
  }
}
