.page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  padding: 30px 79px 30px 40px;
  &--logo {
    width: 201px;
    height: 50px;
  }
}
