<header>
<div class="page__header">
  <img
    class="page__header--logo"
    src="./assets/images/logo-awesome-profile-cards.svg"
    alt="logo page"
  />
</div>
  <div class="hero">
    <div class="hero__reset">
    </div>
      <div class="hero__div">
        <h1 class="hero__div--h1"></h1>
        <h2 class="hero__div--h2"></h2>
        <img class="hero__div--img" src="" alt="">
        <div class="hero__div--logos">
          <ul class="@@logos">
            <li>
              <a href="@@" target="_blank" title="Go to phone"><i class=""></i></a>
            </li>
            <li>
              <a href="@@" target="_blank" title="Send a email"><i class=""></i></a>
            </li>
            <li>
              <a href="@@linkedin" target="_blank" title="Go to linkedin"><i class=""></i></a>
            </li>
            <li>
              <a href="@@github" target="_blank" title="Go to github"><i class="f"></i></a>
            </li>
            
          </ul> 
        </div>
      </div>
  </div>
</div>
</header>
