@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "pages/cards";
@import "pages/preview";
@import "pages/form";
@import "pages/design";
@import "pages/fillin";
@import "pages/share";
@import "components/collapsable";
@import "pages/index";
@import "layout/footer";
